rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    
    match /{fileId}/{fileName=**} {
      // Public read access for assets
      allow read: if true;
      
      // Allow creation only if the corresponding Firestore document already exists,
      // and the user is the owner of that document.
      allow create: if request.auth != null && 
                       request.auth.token.firebase.sign_in_provider != 'anonymous' &&
                       firestore.get(/databases/(default)/documents/files/$(fileId)).data.uid == request.auth.uid;
      
      // Prevent updating or deleting existing files unless they own the corresponding firestore doc
      allow update, delete: if request.auth != null && 
                            request.auth.token.firebase.sign_in_provider != 'anonymous' &&
                            firestore.get(/databases/(default)/documents/files/$(fileId)).data.uid == request.auth.uid;
    }
  }
}
